
@{
    ViewBag.Title = "NotFound";
}
<div class="errornoarticles">
    <h2>Ресурс, который вы ищете, не найден!</h2>
</div>
<div class="error404">
    <img src="~/Images/404.png" alt="Alternate Text" />
</div>